@import "originalColor";

body,
html {
  padding: 0;
  margin: 0 auto;
  height: auto;
  background-color: #f3f3f3;
  color: #222;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body *,
html * {
  outline: 0;
}

div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

main {
  width: 100%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

footer {
  width: 100%;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

h1 {
  font-size: 78px;
  text-transform: uppercase;
  line-height: 80px;
  margin: 0 0 10px;
}

p,
li {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

h3 {
  font-size: 42px;
  margin: 0 0 31px;
  line-height: 46px;
  padding-bottom: 35px;
  position: relative;
}

//Layout Style

.container {
  max-width: 80%;
  margin: auto;
}
.wwf-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Style the form */
#donationForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  .wwf-owl > * + * {
    margin-top: 25px;
  }
  .wwf-owl-s > * + * {
    margin-top: 15px;
  }
  /*Style content and layout */
  h4 {
    font-size: 20px;
    font-weight: 600;
  }
  label {
    margin-bottom: 0;
  }
  /* Style the input fields */
  /* Hide all steps by default: */
  .tab {
    display: none;
    input {
      padding: 10px;
      width: 100%;
      border: 1px solid $primaryColor;
      border-radius: 0;
      //border: 1px solid #aaaaaa;
      /* Mark input boxes that gets an error on validation: */
      &.invalid {
        background-color: #ffdddd;
      }
    }
    .btn-group {
      label.btn {
        font-size: 14px;
        width: 80px;
        padding: 0;
        display: flex;
        justify-content: center;
        label {
          margin-bottom: 0;
        }
      }
      .btn {
        position: relative;
        flex: 1;
        text-align: center;
        border: 2px solid $primaryColor;
        border-right: none;
        color: $primaryColor;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $wwfWhite;
        color: $primaryColor;
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 0;
        &:last-child {
          border-right: 2px solid;
        }
      }
      .otherAmount {
        padding: 0;
        width: 12rem;
        input {
          border: 0;
          &[type=text] {
            height: 100%;
          }
        }
        label {
          display: block;
          position: absolute;
          top: -12px;
          left: 6px;
          padding: 0 8px;
          font-size: 12px;
          color: $primaryColor;
          background-color: $wwfWhite;
          transition: all 0.4s;
          //transform: translateY(-18px);
          pointer-events: none;
        }
        &.empty {
          label {
            display: block;
            position: absolute;
            top: 14px;
            left: 6px;
            padding: 0 8px;
            font-size: 12px;
            color: $primaryColor;
            background-color: $wwfWhite;
            transition: all 0.4s;
            //transform: translateY(-18px);
            pointer-events: none;
          }
          &.focus,
          &.active {
            label {
              transform: translateY(-24px);
              font-size: 12px;
            }
          }
        }

      }
    }
    p {
      position: relative;
      &.empty {
        input[type=text] ~ label {
          display: block;
          position: absolute;
          top: 10px;
        left: 8px;
          padding: 0 8px;
          font-size: 14px;
          color: $primaryColor;
          background-color: $wwfWhite;
          transition: all 0.4s;
          pointer-events: none;
        }
        input[type=text]:focus ~ label {
          transform: translateY(-22px);
          font-size: 12px;
         }
      }
      input[type=text]:focus {
        border: 1px solid $primaryColor;
      }
      input[type=text] ~ label {
        display: block;
        position: absolute;
        top: -12px;
        left: 10px;
        padding: 0 8px;
        font-size: 12px;
        color: $primaryColor;
        background-color: $wwfWhite;
        transition: all 0.4s;
        pointer-events: none;
      }

    }

  }

  /* Indicator style */
  .wwf-nav-indicators {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
    .step {
      height: 7px;
      width: 100%;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;
      display: inline-block;
      opacity: 0.5;
      /* Mark the active step: */
      &.active {
        opacity: 1;
      }
      /* Mark the steps that are finished and valid: */
      &.finish {
        background-color: $primaryColor;
        opacity: 1;
      }
      &:last-child {
        display: none;
      }
    }
  }
  /* Navigation style */
  .wwf-nav-btn {
    margin-top: 30px;
    button {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      border: 2px solid $primaryColor;
      color: $wwfWhite;
      font-weight: 500;
      text-align: left;
      text-transform: uppercase;
      background-color: $primaryColor;
      cursor: pointer;
      transition: color 0.1s linear;
      transition: background-color 0.2s linear;
      overflow: hidden;
      outline: none;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(0% - 25px);
        height: 100%;
        background-color: $primaryColor;
        transition: 0.5s ease;
      }
      &:hover {
        label {
          color: $primaryColor;
          z-index: 1;
        }
        &::before {
          width: 100%;
          background-color: $wwfWhite;
        }
      }
    }
  }

  // Styling buttons
  [data-toggle="buttons"] > .btn > input[type="radio"],
  [data-toggle="buttons"] > .btn > input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    color: $wwfWhite;
    background-color: $primaryColor;
    border-color: $primaryColor;
    box-shadow: none;
  }
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
  }

  //Donation tab style
  .donationTab {
    .wwf-donateOption {
      width: 100%;
      label.btn {
        height: 90px;
        width: 50%;
        font-size: 20px;
        font-weight: 700;
      }
    }
    #currency {
      display: flex;
    }
  }
  //information Tab style
  .informationTab {
    position: relative;
    .informationTab__top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
    .informationTab__mid {
      p {
        display: flex;
        align-items: center;
        input {
          height: 20px;
          width: 20px;
          margin-right: 10px;
        }
      }
    }
    .form-control {
      outline: none;
      box-shadow: none;
      border-radius: 0;
      border: 1px solid $primaryColor;
    }
    .wwf-address-wrapper {
      display: none;
      margin-top: 20px;
      .wwf-address-area-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 10px;
  
      }
           
    }

  }

  .paymentTab {
    .card {
      border: 0;
      .card-header {
        padding: 0;
        background-color: $wwfWhite;
        border: 0;
        h5 {
          .btn {
            padding-left: 0;
            font-size: 24px;
            text-transform: uppercase;
            color: $wwfBlack;
            background-color: $wwfWhite;
            outline: none;
            box-shadow: none;
            &::before {
              content: "";
              width: 20px;
              height: 5px;
              background-color: $primaryColor;
              display: block;
              position: absolute;
              right: 30px;
              top: 25px;
            }
            &::after {
              content: "";
              width: 20px;
              height: 5px;
              background-color: $primaryColor;
              position: absolute;
              right: 30px;
              top: 25px;
              transition: all 0.4s;
            }
            &.collapsed::after {
              transform: rotate(90deg);
            }
          }
        }
      }
      .card-body {
        padding: 0;
      }
    }

    
    .form-group {
      &:nth-child(3) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .expirationDate {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        input {
          width: 55px;
          margin: 0 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

  }

}
