@import "originalColor";
@import "responsive";

@font-face {
  font-family: "open-sans";
  src: url("/assets/fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  padding: 0;
  margin: 0 auto;
  height: auto;
  background-color: $wwfWhite;
  color: #222;
  font-family: open-sans, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body *,
html * {
  outline: 0;
}

body .wwf-owl > * + * {
  margin-top: 40px;
  @include max(769px) {
    margin-top: 20px;
  }
}
body .wwf-owl-s > * + * {
  margin-top: 20px;
}

@font-face {
  font-family: "WWFRegular";
  font-display: fallback;
  src: url("/assets/fonts/wwf-webfont.woff");
}

//Layout Style
.container {
  max-width: 1380px;
  margin: auto;
  @include max(769px) {
    max-width: 100%;
  }
}
@include max(769px) {
  h1,
  .h1 {
    font-size: 2rem;
  }
  h3,
  .h3 {
    font-size: 1.5rem;
  }
}

.wwf-header {
  position: absolute;
  width: 100%;
  img {
    max-height: 120px;
  }
}
main {
  .wwf-section__hero {
    background: url(/assets/images/hero-img.png);
    height: 70vh;
    .container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      flex-direction: column;
      padding-bottom: 50px;
      @include max(769px) {
        align-items: baseline;
      }
    }
    h1 {
      font-family: WWFRegular;
      font-size: 96px;
      color: $wwfWhite;
      @include max(769px) {
        font-size: 48px;
      }
    }
    p {
      font-size: 32px;
      color: $wwfWhite;
      font-family: "Open sans";
      @include max(769px) {
        font-size: 24px;
      }
    }
  }
  .wwf-section_info {
    background-color: #efefef;
    .container {
      padding: 100px 15px;
    }
    .wwf-col-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      @include max(769px) {
        display: block;
      }
      img {
        max-width: 100%;
      }
    }
    .wwf-separateLine {
      height: 5px;
      width: 120px;
      background-color: $primaryColor;
      display: block;
    }
  }
  .wwf-footer {
    background-color: #000;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 25px 15px;
      @include max(769px) {
        flex-direction: column;
        align-items: center;
      }
      .wwf-footer__leftContent {
        display: flex;
        align-items: flex-end;
        align-items: center;
        @include max(769px) {
          flex-direction: column;
          img {
            margin-bottom: 20px;
          }
        }
        .wwf-footer_inforwrapper {
          color: $wwfWhite;
          padding-left: 20px;
        }
      }
    }
  }
}

/* Style the form */
#donationForm {
  margin: 100px auto;
  width: 100%;
  max-width: 720px;
  min-width: 300px;
  font-family: WWFRegular;
  //max-height: 900px;
  @include max(769px) {
    width: 100%;
    padding: 0;
  }
  .wwf-donation-wrapper {
    background-color: #ffffff;
    padding: 40px;
  }
  .wwf-owl > * + * {
    margin-top: 40px;
    @include max(769px) {
      margin-top: 30px;
    }
  }
  .wwf-owl-s > * + * {
    margin-top: 20px;
  }
  /*Style content and layout */
  h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: open-sans, "Open Sans", sans-serif;
  }
  label {
    margin-bottom: 0;
  }
  /* Style the input fields */
  /* Hide all steps by default: */
  .tab {
    display: none;
    input {
      padding: 10px;
      width: 100%;
      border: 1px solid $primaryColor;
      border-radius: 0;
      // height: 50px;
      &.invalid {
        background-color: #ffdddd;
      }
      &[type="text"],
      &[type="tel"] {
        font-family: open-sans, "Open Sans", sans-serif;
        box-shadow: none;
        outline: none;
      }
    }
    .btn-group {
      p.btn {
        display: flex;
        flex: 1;
        position: relative;
        text-align: center;
        border: 2px solid $primaryColor;
        border-right: none;
        color: $wwfBlack;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $wwfWhite;
        cursor: pointer;
        height: 70px;
        align-items: center;
        border-radius: 0;
        font-size: 30px;
        padding: 5px 10px;
        justify-content: center;
        font-weight: 600;
        @include max(769px) {
          font-weight: 800;
          margin-bottom: 0;
          border: 2px solid $primaryColor;
        }
        label {
          margin-bottom: 0;
          font-family: "WWFRegular", "WWF";
          font-weight: 800;
          line-height: 1;
          @include max(769px) {
            font-size: 24px;
          }
          .currency {
            font-size: 16px;
          }
        }
        &:last-child {
          border-right: 2px solid $primaryColor;
        }
      }
      .otherAmount {
        padding: 0;
        input {
          border: none;
          font-family: "WWFRegular", "WWF", sans-serif;
          font-size: 30px;
          font-weight: 600;
          outline: 0;
          @include max(769px) {
            font-size: 24px;
          }
        }
        label {
          display: block;
          position: absolute;
          top: -12px;
          left: 12px;
          padding: 0 8px;
          font-family: "WWFRegular", "WWF", sans-serif;
          font-size: 16px;
          color: $wwfBlack;
          background-color: $wwfWhite;
          transition: all 0.4s;
          pointer-events: none;
          line-height: 1;
          @include max(769px) {
            font-size: 12px;
            left: 5px;
          }
        }
        &.empty {
          label {
            display: block;
            position: absolute;
            top: 12px;
            left: 12px;
            padding: 8px 8px;
            font-family: "WWFRegular", "WWF", sans-serif;
            font-size: 24px;
            color: $wwfBlack;
            background-color: $wwfWhite;
            transition: all 0.4s;
            pointer-events: none;
            @include max(769px) {
              font-size: 24px;
              left: 7px;
              top: 12px;
            }
          }
          &.focus,
          &.active {
            input[type="radio"] {
              display: none;
            }
            input[type="number"] {
              @include max(769px) {
                font-weight: 600;
              }
            }
            label {
              transform: translateY(-28px);
              font-size: 16px;
              @include max(769px) {
                font-size: 14px;
                top: 15px;
                padding: 4px 10px;
              }
            }
          }
        }
        &.active {
          background-color: transparent !important;
        }
      }
    }
    p {
      position: relative;
      margin-bottom: 0;
      @include max(769px) {
        margin-bottom: 0;
      }
      &.empty {
        input[type="text"] ~ label {
          display: block;
          position: absolute;
          top: 14px;
          left: 8px;
          padding: 0 8px;
          font-size: 16px;
          color: $wwfBlack;
          background-color: $wwfWhite;
          transition: all 0.4s;
          pointer-events: none;
          font-family: open-sans, "Open Sans", sans-serif;
        }
        input[type="text"]:focus ~ label {
          transform: translateY(-22px);
          font-size: 12px;
        }
      }
      input[type="text"]:focus {
        border: 1px solid $primaryColor;
      }
      input[type="text"] ~ label {
        display: block;
        position: absolute;
        top: -12px;
        left: 10px;
        padding: 0 8px;
        font-size: 12px;
        color: $wwfBlack;
        background-color: $wwfWhite;
        transition: all 0.4s;
        pointer-events: none;
        font-family: open-sans, "Open Sans", sans-serif;
      }
    }
  }

  /* Indicator style */
  .wwf-nav-indicators {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 40px;
    .step {
      height: 9px;
      width: 100%;
      margin: 0 2px;
      background-color: $thirdColor;
      border: none;
      display: inline-block;
      opacity: 1;

      /* Mark the active step: */
      &.active {
        //opacity: 1;
        background-color: $primaryColor;
        opacity: 0.5;
      }
      /* Mark the steps that are finished and valid: */
      &.finish {
        background-color: $primaryColor;
        opacity: 1;
      }
      &:last-child {
        display: none;
      }
    }
  }
  /* Navigation style */
  .wwf-nav-btn {
    margin-top: 30px;
    button {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      border: 2px solid $primaryColor;
      color: $wwfWhite;
      font-weight: 500;
      text-align: left;
      text-transform: uppercase;
      background-color: $primaryColor;
      cursor: pointer;
      transition: color 0.1s linear;
      transition: background-color 0.2s linear;
      overflow: hidden;
      outline: none;
      font-size: 36px;
      @include max(769px) {
        font-size: 30px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(0% - 25px);
        height: 100%;
        background-color: $primaryColor;
        transition: 0.5s ease;
      }
      &:hover {
        span {
          color: $primaryColor;
          z-index: 1;
        }
        &::before {
          width: 100%;
          background-color: $wwfWhite;
        }
      }
    }
  }

  // Styling buttons
  [data-toggle="buttons"] > .btn > input[type="radio"],
  [data-toggle="buttons"] > .btn > input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .btn-primary:not(:disabled):not(.disabled).active,
  .btn-primary:not(:disabled):not(.disabled):active,
  .show > .btn-primary.dropdown-toggle {
    color: $wwfWhite;
    background-color: $primaryColor;
    border-color: $primaryColor;
    box-shadow: none;
    outline: 0;
  }
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
    outline: 0;
  }

  //Donation tab style
  .donationTab {
    .wwf-donateOption {
      width: 100%;
      p.btn {
        height: 90px;
        width: 50%;
        @include max(769px) {
          height: 70px;
        }
        label {
          font-size: 40px;
          font-weight: 700;
          font-family: WWFRegular;
          @include max(769px) {
            font-size: 30px;
          }
        }
      }
    }
    .wwf-des-for-amount {
      font-family: open-sans, "Open Sans", sans-serif;
      font-size: 16px;
    }
    #currency {
      display: flex;
      margin-top: 20px;
      @include max(1180px) {
        flex-wrap: wrap;
      }
      @include max(769px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 12px;
        margin-top: 15px;
        label.btn {
          margin: 0 5px 5px 0;
          border: 2px solid #3e9ffd;
        }
      }
      p.btn {
        font-size: 25px;
        min-width: 65px;
        @include max(1180px) {
          border-right: 2px solid $primaryColor;
          margin: 5px 5px 5px 0;
          //flex: 0;
        }
        @include max(769px) { 
          margin: 0;
        }
      }
    }
    #amount {
      width: 100%;
      margin-top: 20px;
      display: flex;
      @include max(1080px) {
        flex-wrap: wrap;
      }
      p.btn {
        @include max(1180px) {
          flex: auto;
        }
        @include max(1080px) {
          border-right: 2px solid #3e9ffd;
          margin: 5px 5px 5px 0;
        }
        @include max(769px) {
          margin: 0;;
        }
      }
      @include max(769px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
        margin-top: 15px;
      }
    }
  }
  //information Tab style
  .informationTab {
    position: relative;
    .informationTab__top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .wwf-alert {
        display: none;
        background-color: red;
        color: #fff;
        padding: 5px;
        font-family: open-sans, "Open Sans", sans-serif;
        font-size: 14px;
        position: absolute;
        top: -20px;
        left: 0;
        @include max(769px) {
          font-size: 11px;
          padding: 3px;
        }
      }
      input.invalid ~ span.wwf-alert {
        display: block;
      }
    }
    .informationTab__mid {
      p {
        display: inline-flex;
        align-items: center;
        font-family: open-sans, "Open Sans", sans-serif;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        label {
          width: 85%;
        }
        input {
          height: 20px;
          width: 20px;
          margin-right: 10px;
          border: 1px solid #3e9ffd;
        }
      }
      .wwf-policy-agreement-nofication {
        color: $wwfWhite;
        background-color: red;
        padding: 5px;
        font-size: 12px;
        display: none;
        flex-grow: 1;
        margin-top: 15px;
        // margin-left: 20px;
      }
    }
    input {
      font-family: open-sans, "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: $wwfBlack;
    }
    .form-control {
      outline: none;
      box-shadow: none;
      border-radius: 0;
      border: 1px solid $primaryColor;
      font-family: open-sans, "Open Sans", sans-serif;
      font-size: 16px;
      color: $wwfBlack;
      height: 50px;
      @include max(769px) {
        font-size: 14px;
      }
    }
    .wwf-address-wrapper {
      display: none;
      margin-top: 20px;
      @include max(769px) {
        margin-top: 20px;
      }
      .wwf-address-area-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 10px;
        @include max(769px) {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
  //Payment Tab style
  .paymentTab {
    .card {
      border: 0;
      .card-header {
        padding: 0;
        background-color: $wwfWhite;
        border: 0;
        h3 {
          .btn {
            padding-left: 0;
            font-size: 36px;
            text-transform: uppercase;
            color: $wwfBlack;
            background-color: $wwfWhite;
            outline: none;
            box-shadow: none;
            &::before {
              content: "";
              width: 20px;
              height: 5px;
              background-color: $wwfBlack;
              display: block;
              position: absolute;
              right: 30px;
              top: 25px;
            }
            &::after {
              content: "";
              width: 20px;
              height: 5px;
              background-color: $wwfBlack;
              position: absolute;
              right: 30px;
              top: 25px;
              transition: all 0.4s;
            }
            &.collapsed::after {
              transform: rotate(90deg);
            }
          }
        }
      }
      .card-body {
        padding: 0;
      }
    }

    .form-group {
      &:nth-child(3) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .expirationDate {
          display: inline-flex;
          justify-content: flex-end;
          align-items: center;
          input {
            width: 120px;
            margin: 0 10px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      &:nth-child(4) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
          width: 120px;
        }
      }
    }
  }
  //Thank You tab
  .thankyouTab {
    h2 {
      font-size: 72px;
    }
    p {
      font-family: open-sans, "Open Sans", sans-serif;
    }
    text-align: center;
  }
}



// Change to dropdown section


// #donationForm {
//   .donationTab {
//     #currency {
//       flex-direction: column;
//       p.btn {
//         display: none;
//         &.active {
//           display: block;
//         }
//       }
//       &.active {
//         p.btn {
//           display: flex;

//         }
//       }
//     }
//   }
// }