body,
html {
  padding: 0;
  margin: 0 auto;
  height: auto;
  background-color: #f3f3f3;
  color: #222;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body *,
html * {
  outline: 0;
}

div {
  box-sizing: border-box;
}

header {
  width: 100%;
  order: 1;
}

main {
  width: 100%;
  order: 2;
}

footer {
  width: 100%;
  order: 3;
}

h1 {
  font-size: 78px;
  text-transform: uppercase;
  line-height: 80px;
  margin: 0 0 10px;
}

p,
li {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

h3 {
  font-size: 42px;
  margin: 0 0 31px;
  line-height: 46px;
  padding-bottom: 35px;
  position: relative;
}

.container {
  max-width: 80%;
  margin: auto;
}

.wwf-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Style the form */
#donationForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  /*Style content and layout */
  /* Style the input fields */
  /* Hide all steps by default: */
  /* Indicator style */
  /* Navigation style */
}
#donationForm .wwf-owl > * + * {
  margin-top: 25px;
}
#donationForm .wwf-owl-s > * + * {
  margin-top: 15px;
}
#donationForm h4 {
  font-size: 20px;
  font-weight: 600;
}
#donationForm label {
  margin-bottom: 0;
}
#donationForm .tab {
  display: none;
}
#donationForm .tab input {
  padding: 10px;
  width: 100%;
  border: 1px solid #3e9ffd;
  border-radius: 0;
  /* Mark input boxes that gets an error on validation: */
}
#donationForm .tab input.invalid {
  background-color: #ffdddd;
}
#donationForm .tab .btn-group label.btn {
  font-size: 14px;
  width: 80px;
  padding: 0;
  display: flex;
  justify-content: center;
}
#donationForm .tab .btn-group label.btn label {
  margin-bottom: 0;
}
#donationForm .tab .btn-group .btn {
  position: relative;
  flex: 1;
  text-align: center;
  border: 2px solid #3e9ffd;
  border-right: none;
  color: #3e9ffd;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #fff;
  color: #3e9ffd;
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 0;
}
#donationForm .tab .btn-group .btn:last-child {
  border-right: 2px solid;
}
#donationForm .tab .btn-group .otherAmount {
  padding: 0;
  width: 12rem;
}
#donationForm .tab .btn-group .otherAmount input {
  border: 0;
}
#donationForm .tab .btn-group .otherAmount input[type=text] {
  height: 100%;
}
#donationForm .tab .btn-group .otherAmount label {
  display: block;
  position: absolute;
  top: -12px;
  left: 6px;
  padding: 0 8px;
  font-size: 12px;
  color: #3e9ffd;
  background-color: #fff;
  transition: all 0.4s;
  pointer-events: none;
}
#donationForm .tab .btn-group .otherAmount.empty label {
  display: block;
  position: absolute;
  top: 14px;
  left: 6px;
  padding: 0 8px;
  font-size: 12px;
  color: #3e9ffd;
  background-color: #fff;
  transition: all 0.4s;
  pointer-events: none;
}
#donationForm .tab .btn-group .otherAmount.empty.focus label, #donationForm .tab .btn-group .otherAmount.empty.active label {
  transform: translateY(-24px);
  font-size: 12px;
}
#donationForm .tab p {
  position: relative;
}
#donationForm .tab p.empty input[type=text] ~ label {
  display: block;
  position: absolute;
  top: 10px;
  left: 8px;
  padding: 0 8px;
  font-size: 14px;
  color: #3e9ffd;
  background-color: #fff;
  transition: all 0.4s;
  pointer-events: none;
}
#donationForm .tab p.empty input[type=text]:focus ~ label {
  transform: translateY(-22px);
  font-size: 12px;
}
#donationForm .tab p input[type=text]:focus {
  border: 1px solid #3e9ffd;
}
#donationForm .tab p input[type=text] ~ label {
  display: block;
  position: absolute;
  top: -12px;
  left: 10px;
  padding: 0 8px;
  font-size: 12px;
  color: #3e9ffd;
  background-color: #fff;
  transition: all 0.4s;
  pointer-events: none;
}
#donationForm .wwf-nav-indicators {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}
#donationForm .wwf-nav-indicators .step {
  height: 7px;
  width: 100%;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  display: inline-block;
  opacity: 0.5;
  /* Mark the active step: */
  /* Mark the steps that are finished and valid: */
}
#donationForm .wwf-nav-indicators .step.active {
  opacity: 1;
}
#donationForm .wwf-nav-indicators .step.finish {
  background-color: #3e9ffd;
  opacity: 1;
}
#donationForm .wwf-nav-indicators .step:last-child {
  display: none;
}
#donationForm .wwf-nav-btn {
  margin-top: 30px;
}
#donationForm .wwf-nav-btn button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #3e9ffd;
  color: #fff;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  background-color: #3e9ffd;
  cursor: pointer;
  transition: color 0.1s linear;
  transition: background-color 0.2s linear;
  overflow: hidden;
  outline: none;
}
#donationForm .wwf-nav-btn button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(0% - 25px);
  height: 100%;
  background-color: #3e9ffd;
  transition: 0.5s ease;
}
#donationForm .wwf-nav-btn button:hover label {
  color: #3e9ffd;
  z-index: 1;
}
#donationForm .wwf-nav-btn button:hover::before {
  width: 100%;
  background-color: #fff;
}
#donationForm [data-toggle=buttons] > .btn > input[type=radio],
#donationForm [data-toggle=buttons] > .btn > input[type=checkbox] {
  position: absolute;
  z-index: -1;
  filter: alpha(opacity=0);
  opacity: 0;
}
#donationForm .btn-primary:not(:disabled):not(.disabled).active,
#donationForm .btn-primary:not(:disabled):not(.disabled):active,
#donationForm .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3e9ffd;
  border-color: #3e9ffd;
  box-shadow: none;
}
#donationForm .btn-primary:not(:disabled):not(.disabled).active:focus,
#donationForm .btn-primary:not(:disabled):not(.disabled):active:focus,
#donationForm .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
#donationForm .donationTab .wwf-donateOption {
  width: 100%;
}
#donationForm .donationTab .wwf-donateOption label.btn {
  height: 90px;
  width: 50%;
  font-size: 20px;
  font-weight: 700;
}
#donationForm .donationTab #currency {
  display: flex;
}
#donationForm .informationTab {
  position: relative;
}
#donationForm .informationTab .informationTab__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
#donationForm .informationTab .informationTab__mid p {
  display: flex;
  align-items: center;
}
#donationForm .informationTab .informationTab__mid p input {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
#donationForm .informationTab .form-control {
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #3e9ffd;
}
#donationForm .informationTab .wwf-address-wrapper {
  display: none;
  margin-top: 20px;
}
#donationForm .informationTab .wwf-address-wrapper .wwf-address-area-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px;
}
#donationForm .paymentTab .card {
  border: 0;
}
#donationForm .paymentTab .card .card-header {
  padding: 0;
  background-color: #fff;
  border: 0;
}
#donationForm .paymentTab .card .card-header h5 .btn {
  padding-left: 0;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  outline: none;
  box-shadow: none;
}
#donationForm .paymentTab .card .card-header h5 .btn::before {
  content: "";
  width: 20px;
  height: 5px;
  background-color: #3e9ffd;
  display: block;
  position: absolute;
  right: 30px;
  top: 25px;
}
#donationForm .paymentTab .card .card-header h5 .btn::after {
  content: "";
  width: 20px;
  height: 5px;
  background-color: #3e9ffd;
  position: absolute;
  right: 30px;
  top: 25px;
  transition: all 0.4s;
}
#donationForm .paymentTab .card .card-header h5 .btn.collapsed::after {
  transform: rotate(90deg);
}
#donationForm .paymentTab .card .card-body {
  padding: 0;
}
#donationForm .paymentTab .form-group:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#donationForm .paymentTab .form-group .expirationDate {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
#donationForm .paymentTab .form-group .expirationDate input {
  width: 55px;
  margin: 0 10px;
}
#donationForm .paymentTab .form-group .expirationDate input:last-child {
  margin-right: 0;
}/*# sourceMappingURL=main.css.map */